.About {
  color: var(--color-espresso);
  background-color: #fff;
  text-align: center;

  h2 {
    margin-block-start: 5rem;
  }

  .Header {
    height: 250px;
    background-color: var(--color-olive-leaf);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../public/Fingerprint sideways.png");
    background-blend-mode: soft-light;
    background-size: cover;

    h2 {
      font-size: calc(2 * var(--font-size-h1));
      color: var(--color-olive-dark);
      font-weight: 100;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .Body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  
    .BodyInner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      max-width: 1200px;
  
      & > div {
        flex: 1;
        padding-right: 2rem;
  
        h3, p {
          margin: 0;
          padding: 0.5rem 0;
          text-align: left;
          line-height: 1.75rem;
        }
      }
  
      img {
        flex: 1;
        max-width: 50%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  
  @media (max-width: 1024px) {
    .Body .BodyInner {
      flex-direction: column;
      text-align: center;
  
      & > div {
        padding-right: 0;
      }
  
      img {
        max-width: 100%;
        margin-top: 2rem;
      }
    }
  }
  
} // End of .About