:root {
  /* Breakpoints variables */
  --width-mobile-sm: 320px;
  --width-mobile-md: 375px;
  --width-mobile-lg: 425px;
  --width-mobile: 480px;

  // Tablet widths
  --width-tablet: 768px;
  --width-min: 768px;

  // Navigation bar width (specific use case)
  --nav-width: 750px;

  // Desktop widths
  --width-desktop: 1024px;
  --width-max: 1024px;
  --width-large: 1200px;
  --width-xlarge: 1440px;
  --width-xxlarge: 1600px;
  --width-xxxlarge: 1920px;

  /* Font size variables */
  --font-size-small: 10px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-h2: 20px;
  --font-size-h1: 36px;

  /* Color variables */
  --color-espresso: #22120b;
  --color-coffee: #3c2b1f;
  --color-latte: #b18164;
  --color-caramel: #daae88;
  --color-cream: #f3e3cf;
  --color-sugar: #efecea;
  --color-olive-dark: #424f27;
  --color-olive: #556b2f;
  --color-olive-leaf: #bab86c;
  --color-sea-water: #468d87;
  --color-beach: #3dcabe;
  --color-peach: #ffc599;

  --color-text: var(--color-espresso);
  --color-text-light: var(--color-sugar);
  --color-primary: var(--color-coffee);
  --color-secondary: var(--color-latte);
  --color-ternary: var(--color-caramel);
  --color-quartiary: var(--color-cream);
}


html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  min-height: 100vh;
  min-height: 100svh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

h2 {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}

.dotted-spacer {
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

.transition-component {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.page-enter {
  opacity: 0;
}

.page-enter-done {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 1025px) {
  section {
    width: 100%;
    margin-left: 0;
  }
}
